services:
  web:
    build: .
    ports:
      - "8081:80"
    environment:
      DB_HOST: db
      DB_PORT: 3306
      DB_NAME: dblibreria
      DB_USER: root
      DB_PASS: root
    depends_on:
      db:
        condition: service_healthy

  db:
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: dblibreria
    #ports:
    # - "3306:3306"
    volumes:
      - ./db/.sql:/docker-entrypoint-initdb.d/01_schema.sql:ro
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "-proot"]
      interval: 5s
      timeout: 5s
      retries: 20

  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - ./prometheus/alerts.yml:/etc/prometheus/alerts.yml:ro
    ports:
      - "9090:9090"

  blackbox:
    image: prom/blackbox-exporter:latest
    ports:
      - "9115:9115"
